@model appCaminhao.Models.CaminhaoViewModel

@{
    ViewData["Title"] = "Details";
}

<h3><a asp-area="" asp-controller="Caminhoes" asp-action="Index"><i class="fa-solid fa-truck"></i> Caminhões</a>/Detalhe</h3>

<div>
    <h4>Caminhao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fabricante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fabricante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnoFabricacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoFabricacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnoModelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoModelo)
        </dd>
    </dl>
</div>
<div>
    <a asp-area="" asp-controller="Caminhoes" asp-action="Edit" asp-route-id="@Model?.Id"><i class="fa-solid fa-pen-to-square"></i> Editar</a> |
    <a asp-area="" asp-controller="Caminhoes" asp-action="Index"><i class="fa-solid fa-arrow-rotate-left"></i> Voltar para a lista</a>
</div>
